<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "user"}) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>

                  <div class="form-group">
                    <%= f.email_field :email, class: "form-control form-control-user", id: "exampleInputEmail", placeholder: "Email Address", autofocus: true, autocomplete: "email" %>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <%= f.password_field :password, class: "form-control form-control-user", id: "exampleInputPassword", placeholder: "Password", autocomplete: "new-password" %>
                    </div>
                    <div class="col-sm-6">
                    <%= f.password_field :password_confirmation, class: "form-control form-control-user", id: "exampleRepeatPassword", placeholder: "Repeat Password", autocomplete: "new-password" %>
                    </div>
                  </div>

                  <%= f.fields_for :profile do |ff| %>
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <%= ff.text_field :cep, class: "form-control form-control-user", placeholder: "Digite o CEP", require: true %>
                      </div>
                      <div class="col-sm-6">
                        <%= ff.text_field :street, class: "form-control form-control-user", placeholder: "Digite o nome da Rua", require: true %>
                      </div>      
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <%= ff.text_field :neighborhood, class: "form-control form-control-user", placeholder: "Digite o nome do Bairro", require: true %>
                      </div>
                      <div class="col-sm-6">
                        <%= ff.text_field :city, class: "form-control form-control-user", placeholder: "Digite o nome da Cidade", require: true %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <%= ff.text_field :cellphone, class: "form-control form-control-user", placeholder: "Digite o seu celular", require: true %>
                      </div>
                      <div class="col-sm-6">
                        <%= ff.text_field :name, class: "form-control form-control-user", placeholder: "Digite seu nome", require: true %>
                      </div>
                    </div>

                    <div class="form-group">
                      <%= render_states_devise("state")  %>
                    </div>
                  <% end %>


                  <div class="actions">
                    <%= f.submit "Sign up", class: "btn btn-danger btn-user btn-block" %>
                  </div>
                <% end %>

                <hr>
              <div class="text-center">
                <h6>Already have an account?</h6><%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
