<br>
<div class="card shadow p-3 mb-5">
  <div class="card-header" style="text-align: center">
    <h3>My Cart</h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Price</th>
            <th>Qnt</th>
            <th><%= t('helpers.submit.actions') %></th>
          </tr>
        </thead>

        <tbody>
          <% @order_items.each do |item| %>
            <tr>
              <td><%= image_tag item.product.image.variant(resize: "100x100") if item.product.image.attached? %></td>
              <td><%= item.product.name %></td>
              <td><%= humanized_money_with_symbol item.product.price %></td>
              <td><%= item.quantity %></td>
              <td>
                <%= form_with(model: [:site, item], remote: true) do |f| %>
                  
                  <div class="col-sm-6">
                    <%= f.hidden_field :product_id, value: item.product.id %>
                    <div class="input-group mb-6">
                      <%= f.number_field :quantity, value: 1, min: 1, class: "form-control" %>
                      <div class="input-group-append">
                        <%= button_tag type: 'submit', class: "btn btn-primary" do %>
                          <i class="fas fa-sync-alt"></i>
                        <% end %>
                        <%= link_to site_order_item_path(item), class: "btn btn-danger", method: :delete, remote: true do %>
                          <i class="fas fa-trash"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                   
                <% end %>
              </td> 
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>
    
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-3">
          <div><h5>Subtotal: <%= humanized_money_with_symbol current_order.subtotal %></h5></div>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
          <% if customer_signed_in? %>
            <% if current_order.id.present? %>
              <%= link_to customer_free_checkout_path(current_order.id), class: "btn btn-success" do %>
                <i class="fas fa-shopping-basket"></i>
                <span>Finish</span>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to new_customer_session_path, class: "btn btn-warning" do %>
              <i class="fas fa-sign-in-alt"></i>
              <span>Login to continue</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>