<br>
<div class="card shadow p-3 mb-5">
  <div class="card-header" style="text-align: center">
    <h3><%= Order.model_name.human(count: 1) %></h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= Product.human_attribute_name("image") %></th>
            <th><%= Product.human_attribute_name("name") %></th>
            <th><%= Product.human_attribute_name("price") %></th>
            <th><%= OrderItem.human_attribute_name("quantity") %></th>
            <th><%= t('helpers.submit.actions') %></th>
          </tr>
        </thead>

        <tbody>
          <% @order_items.each do |item| %>
            <tr>
              <td><%= image_tag item.product.image.variant(resize: "100x100") if item.product.image.attached? %></td>
              <td><%= item.product.name %></td>
              <td><%= humanized_money_with_symbol item.product.price %></td>
              <td><%= item.quantity %></td>
              <td>
                <%= form_with(model: [:site, item], remote: true) do |f| %>
                  
                  <div class="col-sm-6">
                    <%= f.hidden_field :product_id, value: item.product.id %>
                    <div class="input-group input-group-sm mb-6 ">
                      <%= f.number_field :quantity, value: 1, min: 1, class: "form-control" %>
                      <div class="input-group-append">
                        <%= button_tag type: 'submit', class: "btn btn-primary btn-circle btn-sm" do %>
                          <i class="fas fa-sync-alt"></i>
                        <% end %>
                        <%= link_to site_order_item_path(item), class: "btn btn-danger btn-circle btn-sm", method: :delete, remote: true do %>
                          <i class="fas fa-trash"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                   
                <% end %>
              </td> 
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-sm-3">
        <div><h5>Subtotal: <%= humanized_money_with_symbol current_order.subtotal %></h5></div>
      </div>
      <div class="col-sm-6"></div>
      <div class="col-sm-3">
        <% if customer_signed_in? %>
          <% if current_order.id.present? %>
            <%= link_to customer_free_checkout_path(current_order.id), class: "btn btn-success btn-block btn-sm" do %>
              <span><%= t('actions.finish', model: Order.model_name.human) %></span>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to new_customer_session_path, class: "btn btn-warning btn-block btn-sm" do %>
            <span><%= t('actions.login') %></span>
          <% end %>
        <% end %> 
      </div>
    </div>
  </div>  
</div>