<!-- Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model: [:admin, @category], remote: true) do |form| %>
          <% if @category.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

              <ul>
                <% @category.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <%= form.label :name %>
                <%= form.text_field :name, class: "form-control" %>
              </div>
            </div>    
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <%= form.label :active %>
                <%= form.select :active, Category.actives.keys.to_a, {}, class: "form-control" %>
              </div>
            </div>    
          </div>
          
          <div class="modal-footer">
            <%= button_tag type: 'submit', class: "btn btn-success btn-icon-split btn-sm" do %>
              <i class="fas fa-check"></i>
              <span class="text"> Criar</span>
            <% end %>
          </div>

        <% end %> 
      </div>
    </div>
  </div>
</div>