<br>
<div class="card shadow p-3 mb-5">
  <div class="card-header text-center"><h5><%= t('helpers.my_data')%></h5> </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6"> 
        <p>
          <strong><%= Profile.human_attribute_name("name") %>:</strong>
          <%= @order.customer.profile.name %>
        </p>
      </div>
      <div class="col-sm-6"> 
        <p>
          <strong>Email:</strong>
          <%= @order.customer.email %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6"> 
        <p>
          <strong><%= Profile.human_attribute_name("street") %>:</strong>
          <%= @order.customer.profile.street %>
        </p>
      </div>
      <div class="col-sm-6"> 
        <p>
          <strong><%= Profile.human_attribute_name("number") %>:</strong>
          <%= @order.customer.profile.number %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6"> 
        <p>
          <strong><%= Profile.human_attribute_name("neighborhood") %>:</strong>
          <%= @order.customer.profile.neighborhood %>
        </p>
      </div>
      <div class="col-sm-6"> 
        <p>
          <strong><%= Profile.human_attribute_name("city") %>:</strong>
          <%= @order.customer.profile.city %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6"> 
       <p>
        <strong><%= Profile.human_attribute_name("state") %>:</strong>
        <%= @order.customer.profile.state %>
      </p>
      </div>
      <div class="col-sm-6"> 
        <p>
          <strong><%= Profile.human_attribute_name("cellphone") %>:</strong>
          <%= @order.customer.profile.cellphone %>
        </p>
      </div>
    </div>
    
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card shadow p-3 mb-5">
    <div class="card-header" style="text-align: center">
      <h5><%= t('helpers.my_cart')%></h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><%= Product.human_attribute_name("image") %></th>
              <th><%= Product.human_attribute_name("name") %></th>
              <th><%= Product.human_attribute_name("price") %></th>
              <th><%= OrderItem.human_attribute_name("quantity") %></th>
              <th><%= OrderItem.human_attribute_name("total") %></th>
            </tr>
          </thead>

          <tbody>
            <% @order.order_items.each do |item| %>
              <tr>
                <td><%= image_tag item.product.image.variant(resize: "100x100") if item.product.image.attached? %></td>
                <td><%= item.product.name %></td>
                <td><%= humanized_money_with_symbol item.product.price %></td>
                <td><%= item.quantity %></td>
                <td>R$<%= formatted_value item.total %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <br>
      
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-3">
            <div><h5>Subtotal: <%= humanized_money_with_symbol @order.subtotal %></h5></div>
          </div>
          <div class="col-sm-9">
          </div>
        </div>
 
        <%= form_with(url: "/customer/free_checkout/#{@order.id}/deliveries" , method: "post", local: true) do |f| %>
          <%= f.hidden_field :order_id, value: @order.id %>
          <div class="row"> 
            <div class="col-sm-12">
              <div class="form-group">
                <%= f.text_area :details, class: "form-control", placeholder: "Digite aqui alguma observação com relação ao seu pedido!", rows: 3 %>
              </div>
            </div>
          </div>
          <div class="actions">
            <%= f.submit t("helpers.send_order"), class: "btn btn-success btn-block btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>  
  </div>
</div>