<div class="card shadow p-3 mb-5">
  <div class="card-body"> 
    <%= form_with(model: [:admin, product], local: true) do |form| %>
      <% if product.errors.any? %>
        <div class="alert alert-alert" id="error_explanation">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <h6><%= pluralize(product.errors.count, "error") %> <%= t("helpers.error") %></h6>

          <ul>
            <% product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= form.label :image %>
            <%= form.file_field :image, class: "form-control" %>
          </div>
        </div>    
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control" %>
          </div>
        </div>    
      </div>

      <div class="row">
        <div class="col-sm-9">
          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description, class: "form-control", rows: 5 %>
          </div>
        </div>    
      </div>

      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <%= form.label :category_id %>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <%= link_to new_admin_category_path, class: "btn btn-secondary", remote: true do %> <i class="fa fa-plus"></i></span><% end %>
              </div>
              <%= form.select(:category_id, Category.all.collect {|p| [ p.name, p.id ] }, {prompt: "Selecione a categoria"}, { class: "form-control" })%>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= form.label :status %>
            <%= form.select :status, Product.statuses.keys.to_a, {}, class: "form-control" %>
          </div>
        </div>    
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= form.label :price %>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><%= product.price.currency.symbol %></span>
                <%= form.text_field :price, class: "form-control"  %>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card-footer">
        <%= button_tag type: 'submit', class: "btn btn-success btn-icon-split btn-sm" do %>
          <i class="fas fa-check"></i>
          <span class="text"> Save</span>
        <% end %>

        <%= link_to admin_products_path, class: "btn btn-info btn-icon-split btn-sm" do %>
            <i class="fas fa-backward"></i>
            <span class="text"> Back</span>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
